*********************************
Current Weather Conditions for:
${weather.city}, ${weather.country}
Temperature: ${weather.temperature}
Feels like: ${weather.feelsLike}
Humidity: ${weather.humidity}
Pressure: ${weather.pressure}
Visibility: ${weather.visibility}
*********************************